html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8
}

h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

img {
    width: 100%;
}

.wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1f2937;
}

.nav-bar {
    display: flex;
    height: 72px;
    align-items: center;
    width: 1000px;
}

.nav a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
    text-decoration: none;
}

.nav-bar ul {
    display: flex;
    margin-left: auto;
    gap: 20px;
}

.description {
    width: 1000px;
    display: flex;
    gap: 20px;
    height: 30vh;
    margin: 50px 0;
}

.description > * {
    flex: 1;
}

.description p {
    color: #e5e7eb;
    margin: 20px 0;
}

.image img {
    width: 100%;
}

.btn {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 10px 30px;
    font-size: large;
    font-weight: bold;
    border: none;
    border-radius: 4px;
}

.information {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 30vh;
    gap: 20px;
}

.info-showcase {
    margin: 20px 0 ;
    display: flex;
    width: 1000px;
    justify-content: space-around;
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-basis: 150px;
    flex-grow: 0;
    align-items: center;
    text-align: center;
}
.info-img {
    width: 200px;
    height: 200px;
    border: 5px solid #3882f6;
    border-radius: 4px;
}